body {
    padding: 70px 0;
    background-color: #d5d5d5;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 30px 0 20px;
}

h2 {
    margin: 20px 0 10px;
}

h4 {
    margin: 20px 0 10px;
}

p {
    font-size: 15px;
}


.idee {
    margin: 40px;
    text-align: right;
}



.navbar {
    background-color: #202E42;
}

.navbar .navbar-nav > .nav-item > .nav-link {
    color: #fff;
    margin-left: 20px;
}

.navbar .navbar-nav > .nav-item  > .nav-link:hover {
    color: #aaa;
}

.navbar .navbar-brand, .navbar-default .navbar-text {
    color: #fff;
}

.nav-link {
    color: #fff;
}

.btn-primary {
    background-color: #224C4F;
    border-color: #224C4F;
}



.showmore_content		{ position:relative; overflow:hidden; }			
.showmore_trigger 		{ width:100%; height:45px; line-height:45px; cursor:pointer; }
.showmore_trigger span	{ display:block; }


.grid-item { width: 24.3%; }
.grid-item--width2 { width: 50%; }

@media (max-width: 768px) { 
    .grid-item { width: 100%; }


}

.gutter-10.row {
  margin-right: -5px;
  margin-left: -5px;
}
.gutter-10 [class^="col-"], .gutter-10 [class^=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

/* ########## Design des Cards ########## */

.card img {
    margin: 0 0 15px;
}

.card-text img {
    width: 100%;
    height: 100%;
}

.card {
    border: 0;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/* Quand ce sera draggable 
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} */

.card-header {
    background-color: #202E42;
    color: #fff;
}




/*
.card {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card .list-group {
    margin-bottom: 0;
}

.card .list-group-item {
    padding: 20px;
    font-size: 18px;
}


.card table {
    margin: 0;
}

.card img {
    margin: 0 0 15px;
}




.question {
	font-weight: bold;
	font-size: 1.2em;
	min-height: 120px;
}

form .btn-group-vertical .btn {
    text-align: left;
    white-space: normal;
    min-height: 80px;
}

form .bouton_scale .btn {
    text-align: left;
    white-space: normal;
    min-height: 50px;
}

form .btn-group-vertical {
    margin-bottom: 20px;
    width: 100%;
}

@media (max-width: 767px) {
	header {
		display: none;
	}
	body {
		padding: 0;
	}
		
}

.module_menu {
    margin-top: 10px;
}


.footer_client {
    margin-top: 15px;
}



.black {
    color:black;
}

