@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    src: url('fonts/SourceSansPro-Italic.ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    src: url('fonts/SourceSansPro-Semibold.ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: bold;
    src: url('fonts/SourceSansPro-BoldItalic.ttf');
}



body {
    padding: 70px 0;
    background-color: #d5d5d5;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 30px 0 20px;
}

h2 {
    font-weight: 600;
    margin: 20px 0 10px;
}

h3 {
    font-weight: bold;
}

h4 {
    margin: 20px 0 10px;
}

p {
    font-size: 15px;
}

a {
    color: #202E42;
}

a:hover {
    text-decoration: none;
}


.idee {
    margin: 40px;
    text-align: right;
}



.navbar {
    background-color: #202E42;
}

.navbar .navbar-nav > .nav-item > .nav-link {
    color: #fff;
    margin-left: 20px;
}

.navbar .navbar-nav > .nav-item  > .nav-link:hover {
    color: #aaa;
}

.navbar .navbar-brand, 
.navbar .navbar-brand:visited, 
.navbar .navbar-brand:hover, 
.navbar-default 
.navbar-text {
    color: #fff;
    cursor: default;
}


/* ########## CONNEXION ########## */

.connexion_form img {
    margin: 0 0 15px;
}


/* ########## Showmore ########## */
/*

.showmore_content		{ position:relative; overflow:hidden; }			
.showmore_trigger 		{ width:100%; height:45px; line-height:45px; cursor:pointer; }
.showmore_trigger span	{ display:block; }

*/


/* ########## Packery ########## */

.grid-item {  }
.grid-item--width2 { width: 50%; }

@media (max-width: 768px) { 
    .grid-item { width: 100%; }


}

.gutter-10.row {
  margin-right: -5px;
  margin-left: -5px;
}
.gutter-10 [class^="col-"], .gutter-10 [class^=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

/* ########## Design des Cards ########## */

.card_idea .card_img_top {
    max-height: 600px;
}

.card h3 {
    font-size: 20px;
}

.card p {
    font-size: 14px;
}

.card img {
    /* margin: 0 0 15px; */
}

.card-text img {
    width: 100%;
    height: 100%;
}

.card {
    border: 0;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/* Quand ce sera draggable 
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} */

.card-header {
    background-color: #202E42;
    color: #fff;
}

.like_count {
    margin: 0 0 0 16px;
    color: #F25268;
    overflow: hidden;
}

.author_link, .author_link:hover {
    color: #202E42;
    text-decoration: none;
}

.bouton_ampli {
    margin: 0 0 0 16px;
}

.bouton_ampli img {
    margin: -5px 0 0 0;
}

.card_likes {                       /* Pour éviter de faire deux lignes quand beaucoup de likes */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.card_likes .btn-link {
    border: 0;
    padding: 0;
    color: #F25268;
}

.card-footer .fa-user {
    margin: 0 0 0 -5px;
}

.footer_edit .btn-link {
    border: 0;
    padding: 0;
    margin: 0 10px 0 0;
    color: #202E42;
}

#carte_new,
#carte_new:hover {
    cursor: pointer;
}


/* ########## Page d'idée ########## */

.idee_page .card-header {
    background-color: #FFEDBB;  /* Couleur secondaire */
    color: #202E42;             /* Couleur de base */
}   

.idee_page .card-header h2, .idee_page .card-header p {
    margin: 10px 0;
    line-height: 36px;
}

.idee_page .card-header h3 {
    margin: 5px 0;
}

.idee_page .card p, .idee_page .card .block_category {
    font-size: 20px;
    margin: 0;
}

.idee_page img {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 4px;
}

.idee_page .btn-primary {
    margin: 6px 0;
}

#container_contributions .card-footer {
    padding: 10px 20px;
}

.card_block_thin {
    padding: 5px 20px;
}

/* ########## Page utilisateur ########## */

.user_page .card-header {
    background-color: #FFEDBB;  /* Couleur secondaire */
    color: #202E42;             /* Couleur de base */
} 

.hr_thin {
    margin: 0;
}

/* ########## Boutons ########## */


.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    background-color: #224C4F;
    border-color: #224C4F;
    color: #fff;
}

.btn-primary {
    background-color: #224C4F;
    border-color: #224C4F;
    color: #fff;
}

/* ########## Pages admin ########## */

.table_users {
    font-size: 12px;
}